body {

    background-image: url('weather.jpg');

    background-size: cover;

    background-position: center;

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    background-color: rgb(218, 164, 164);

}


.weather-container {

    background-color: #fffffffa;

    padding: 20px;

    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.weather-data {

    margin-top: 20px;

}